<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core"/>
      <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
      <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
      <section name="commandBusConfig" type="CommandEndpoint.Config.CommandBusConfig, CommandEndpoint.Config"/>
      <section name="securityConfig" type="CommandEndpoint.Config.SecurityConfig, CommandEndpoint.Config"/>
   </configSections>

   <Logging Threshold="ALL"/>

   <MessageForwardingInCaseOfFaultConfig ErrorQueue="demo.error"/>

   <MsmqTransportConfig ErrorQueue="demo.web.error" NumberOfWorkerThreads="1" MaxRetries="5"/>

   <commandBusConfig xmlns="urn:CommandEndpoint.Config">
      <commandEndpointMappings>
         <add commands="demo.commands" endpoint="demo.processing"/>
      </commandEndpointMappings>
   </commandBusConfig>

   <securityConfig xmlns="urn:CommandEndpoint.Config">
      <certificates>
         <claimsSigningCertificate name="CN=STS"/>
      </certificates>
   </securityConfig>

   <connectionStrings>
      <add name="CQRS" connectionString="Server=.\sqlexpress;Database=DEMO_CQRS;Trusted_Connection=True;"/>
   </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
