<?xml version="1.0" encoding="utf-8" ?>
<!-- TODO: Config
   Configurer dataBusConfig > fileShareDataBus > path: Path réseaux, doit être le même pour tous les endpoints, le process roulant le service doit avoir accès en fullcontrol sur le share.
   Configurer domainEventBusConfig > domainEventEndpointMappings > endpoint: spécifier la queue du endpoint processing ex: gpi.bulletin.processing@machine.cssmi.qc.ca
-->
<configuration>
   <configSections>
      <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
      <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
      <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
      <section name="domainEventBusConfig" type="ViewModelEndpoint.Config.DomainEventBusConfig, ViewModelEndpoint.Config"/>
   </configSections>

   <Logging Threshold="ALL" />

   <MessageForwardingInCaseOfFaultConfig ErrorQueue="demo.shipping.viewmodel.error"/>

   <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5"/>

   <domainEventBusConfig xmlns="urn:ViewModelEndpoint.Config">
      <domainEventEndpointMappings>
         <add domainEvents="demo.events" endpoint="demo.processing" />         
      </domainEventEndpointMappings>
   </domainEventBusConfig>

   <connectionStrings>
      <add name="CQRS" connectionString="Server=.\sqlexpress;Database=DEMO_CQRS;Trusted_Connection=True;"/>
   </connectionStrings>
</configuration>