<?xml version="1.0" encoding="utf-8" ?>
<!-- TODO: Config
   Configurer dataBusConfig > fileShareDataBus > path: Path réseaux, doit être le même pour tous les endpoints, le process roulant le service doit avoir accès en fullcontrol sur le share.   
   Configurer connectionStrings > connectionString: connection string où stocker le eventstore. Attention, la banque doit exister.
-->
<configuration>
   <configSections>
      <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
      <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
      <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
      <section name="commandBusConfig" type="ProcessingEndpoint.Config.CommandBusConfig, ProcessingEndpoint.Config"/>      
   </configSections>

   <MessageForwardingInCaseOfFaultConfig ErrorQueue="demo.processing.error"/>

   <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="1" />

   <commandBusConfig xmlns="urn:ProcessingEndpoint.Config">
      <commandHandlers>
         <add commands="demo.commands" />
      </commandHandlers>
   </commandBusConfig>   

   <connectionStrings>
      <add name="EventStore" connectionString="Server=.\sqlexpress;Database=Demo.Data.DEMO_CQRS;Trusted_Connection=True;" />
   </connectionStrings>
</configuration>